#root {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(247, 243, 243);
}

.carrito {
  padding: 10px;
  height: 40px;
}
